/*
* By Reteck Informática
* vs:1.0.0
*/
* {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
.rtk-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
}
.rtk-row{
    margin-left: -10px;
    margin-right: -10px;
}
.rtk-row::before,
.rtk-row::after{
    display: block;
}
.rtk-row::after{
    clear: both;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .rtk-col-lg-1{
        position: relative;
        padding: 5px;
        width: 8.33333%;
        float: left;        
    }
    .rtk-col-lg-2{
        position: relative;
        padding: 5px;       
        width: 16.6666%;
        float: left;
    }
    .rtk-col-lg-3{
        position: relative;
        padding: 5px;      
        width: 25%;
        float: left;
    }
    .rtk-col-lg-4{
        position: relative;   
        padding: 5px;        
        width: 33.3333%;
        float: left;
    }
    .rtk-col-lg-5{
        position: relative;
        padding: 5px;      
        width: 41.6666%;
        float: left;
    }
    .rtk-col-lg-6{
        position: relative;
        padding: 5px;     
        width: 50%;
        float: left;
    }
    .rtk-col-lg-7{
        position: relative;
        padding: 5px;       
        width: 58.3333%;
        float: left;
    }
    .rtk-col-lg-8{
        position: relative;     
        padding: 5px;        
        width: 66.6666%;
        float: left;
    }
    .rtk-col-lg-9{
        position: relative;
        padding: 5px;       
        width: 75%;
        float: left;
    }
    .rtk-col-lg-10{
        position: relative;
        padding: 5px;       
        width: 83.3333%;
        float: left;
    }
    .rtk-col-lg-11{
        position: relative;
        padding: 5px;     
        width: 91.6666%;
        float: left;
    }
    .rtk-col-lg-12{
        position: relative;     
        padding: 5px;        
        width: 100%;        
        float: left;
    }

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 960px) and (max-width: 1280px) {
    .rtk-col-md-1{
        position: relative;
        padding: 5px;
        width: 8.33333%;
        float: left;
    }
    .rtk-col-md-2{
        position: relative;
        padding: 5px;       
        width: 16.6666%;
        float: left;
    }
    .rtk-col-md-3{
        position: relative;
        padding: 5px;        
        width: 25%;
        float: left;
    }
    .rtk-col-md-4{
        position: relative;
        padding: 5px;       
        width: 33.3333%;
        float: left;
    }
    .rtk-col-md-5{
        position: relative;
        padding: 5px;       
        width: 41.6666%;
        float: left;
    }
    .rtk-col-md-6{
        position: relative;
        padding: 5px;;        
        width: 50%;
        float: left;
    }
    .rtk-col-md-7{
        position: relative;
        padding: 5px;       
        width: 58.3333%;
        float: left;
    }
    .rtk-col-md-8{
        position: relative;
        padding: 5px;        
        width: 66.6666%;
        float: left;
    }
    .rtk-col-md-9{
        position: relative;
        padding: 5px;      
        width: 75%;
        float: left;
    }
    .rtk-col-md-10{
        position: relative;
        padding: 5px;       
        width: 83.3333%;
        float: left;
    }
    .rtk-col-md-11{
        position: relative;
        padding: 5px;      
        width: 91.6666%;
        float: left;
    }
    .rtk-col-md-12{
        position: relative;
        padding: 5px;      
        width: 100%;
        float: left;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 959px) {
    .rtk-col-sm-1{
        position: relative;
        padding: 5px;       
        width: 8.33333%;
        float: left;
    }
    .rtk-col-sm-2{
        position: relative;
        padding: 5px;        
        width: 16.6666%;
        float: left;
    }
    .rtk-col-sm-3{
        position: relative;
        padding: 5px;        
        width: 25%;
        float: left;
    }
    .rtk-col-sm-4{
        position: relative;
        padding: 5px;        
        width: 33.3333%;
        float: left;
    }
    .rtk-col-sm-5{
        position: relative;
        padding: 5px;       
        width: 41.6666%;
        float: left;
    }
    .rtk-col-sm-6{
        position: relative;
        padding: 5px;       
        width: 50%;
        float: left;
    }
    .rtk-col-sm-7{
        position: relative;
        padding: 5px;       
        width: 58.3333%;
        float: left;
    }
    .rtk-col-sm-8{
        position: relative;
        padding: 5px;       
        width: 66.6666%;
        float: left;
    }
    .rtk-col-sm-9{
        position: relative;
        padding: 5px;       
        width: 75%;
        float: left;
    }
    .rtk-col-sm-10{
        position: relative;
        padding: 5px;      
        width: 83.3333%;
        float: left;
    }
    .rtk-col-sm-11{
        position: relative;
        padding: 5px;      
        width: 91.6666%;
        float: left;
    }
    .rtk-col-sm-12{
        position: relative;
        padding: 5px;        
        width: 100%;
        float: left;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 959px) and (orientation: landscape) {
    .rtk-col-sm-1{
        position: relative;
        padding: 5px;      
        width: 8.33333%;
        float: left;
    }
    .rtk-col-sm-2{
        position: relative;
        padding: 5px;      
        width: 16.6666%;
        float: left;
    }
    .rtk-col-sm-3{
        position: relative;
        padding: 5px;      
        width: 25%;
        float: left;
    }
    .rtk-col-sm-4{
        position: relative;
        padding: 5px;    
        width: 33.3333%;
        float: left;
    }
    .rtk-col-sm-5{
        position: relative;
        padding: 5px;       
        width: 41.6666%;
        float: left;
    }
    .rtk-col-sm-6{
        position: relative;
        padding: 5px;     
        width: 50%;
        float: left;
    }
    .rtk-col-sm-7{
        position: relative;
        padding: 5px;     
        width: 58.3333%;
        float: left;
    }
    .rtk-col-sm-8{
        position: relative;
        padding: 5px;     
        width: 66.6666%;
        float: left;
    }
    .rtk-col-sm-9{
        position: relative;
        padding: 5px;      
        width: 75%;
        float: left;
    }
    .rtk-col-sm-10{
        position: relative;
        padding: 5px;    
        width: 83.3333%;
        float: left;
    }
    .rtk-col-sm-11{
        position: relative;
        padding: 5px;     
        width: 91.6666%;
        float: left;
    }
    .rtk-col-sm-12{
        position: relative;
        padding: 5px;   
        width: 100%;
        float: left;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .rtk-col-xs-1{
        position: relative;
        padding: 5px;   
        width: 8.33333%;
        float: left;
    }
    .rtk-col-xs-2{
        position: relative;
        padding: 5px;     
        width: 16.6666%;
        float: left;
    }
    .rtk-col-xs-3{
        position: relative;
        padding: 5px;      
        width: 25%;
        float: left;
    }
    .rtk-col-xs-4{
        position: relative;
        padding: 5px;     
        width: 33.3333%;
        float: left;
    }
    .rtk-col-xs-5{
        position: relative;
        padding: 5px;       
        width: 41.6666%;
        float: left;
    }
    .rtk-col-xs-6{
        position: relative;
        padding: 5px;     
        width: 50%;
        float: left;
    }
    .rtk-col-xs-7{
        position: relative;
        padding: 5px;       
        width: 58.3333%;
        float: left;
    }
    .rtk-col-xs-8{
        position: relative;
        padding: 5px;     
        width: 66.6666%;
        float: left;
    }
    .rtk-col-xs-9{
        position: relative;
        padding: 5px;      
        width: 75%;
        float: left;
    }
    .rtk-col-xs-10{
        position: relative;
        padding: 5px;       
        width: 83.3333%;
        float: left;
    }
    .rtk-col-xs-11{
        position: relative;
        padding: 5px;      
        width: 91.6666%;
        float: left;
    }
    .rtk-col-xs-12{
        position: relative;
        padding: 5px;       
        width: 100%;
        float: left;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .rtk-col-xs-1{
        position: relative;
        padding: 5px;    
        width: 8.33333%;
        float: left;
    }
    .rtk-col-xs-2{
        position: relative;
        padding: 5px;     
        width: 16.6666%;
        float: left;
    }
    .rtk-col-xs-3{
        position: relative;
        padding: 5px;       
        width: 25%;
        float: left;
    }
    .rtk-col-xs-4{
        position: relative;
        padding: 5px;      
        width: 33.3333%;
        float: left;
    }
    .rtk-col-xs-5{
        position: relative;
        padding: 5px;     
        width: 41.6666%;
        float: left;
    }
    .rtk-col-xs-6{
        position: relative;
        padding: 5px;      
        width: 50%;
        float: left;
    }
    .rtk-col-xs-7{
        position: relative;
        padding: 5px;      
        width: 58.3333%;
        float: left;
    }
    .rtk-col-xs-8{
        position: relative;
        padding: 5px;      
        width: 66.6666%;
        float: left;
    }
    .rtk-col-xs-9{
        position: relative;
        padding: 5px;      
        width: 75%;
        float: left;
    }
    .rtk-col-xs-10{
        position: relative;
        padding: 5px;     
        width: 83.3333%;
        float: left;
    }
    .rtk-col-xs-11{
        position: relative;
        padding: 5px;    
        width: 91.6666%;
        float: left;
    }
    .rtk-col-xs-12{
        position: relative;
        padding: 5px;       
        width: 100%;
        float: left;
    }
}